body{
    font-family:  poppins sans-serif;
}

h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
.father{
    display: flex;
}
.intro{
    
        width: 50%;
        padding-left: 2%;
        padding-right:2%;


}
.intro img{
    width:50%;
}
.button{
    color:white;
    background-image: linear-gradient(orange,tomato);
     text-decoration: none;
     padding:2%;
     border-radius:5px;
     font-weight: bold
}
.link{
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight:bold;
    text-decoration:none;
    padding:2%;
    border-radius:5px;

}
.link-button{
    display:flex;
   
}
.button{
    margin-right: 5px;
    padding:2%;
}
.sec-parra{
    width:50%;
    padding-right: 2%;
    padding-left: 2%;
}
.sec-parra img{
    width:50%;
}
.father{
    padding:2%;
}
.third{
    box-shadow: 5px 5px 20px gray;
    padding-right: 2%;
    padding-left: 2%;
    margin-bottom: 10px;
    margin-right:10px ;
   
    width: 600px;
    border-radius: 5px;
    
    
   
}
.display-container{
    display: flex;
}
#container{
    border-left:7px solid;
    border-image: linear-gradient(tomato,red);
    border-image-slice: 1;

}
#container-one{
    border-left:7px solid;
    border-image: linear-gradient(blue,teal);
    border-image-slice:1;
}

footer p{
    text-align: center;
}
#experience{
    text-align:center;
}






