body{
    font-family:  poppins sans-serif;
}

h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
section{
    display: flex;
}
.intro{
    
        width: 50%;
        padding-left: 2%;
        padding-right:2%;


}
.intro img{
    width:50%;
}
.button{
    color:white;
    background-image: linear-gradient(orange,tomato);
     text-decoration: none;
     padding:2%;
     border-radius:5px;
     font-weight: bold
}
.link{
    background-image: linear-gradient(orange,tomato);
    color:white;
    font-weight:bold;
    text-decoration:none;
    padding:2%;
    border-radius:5px;

}
.link-button{
    display:flex;
   
}
.button{
    margin-right: 5px;
    padding:2%;
}